<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>

<%= form_with model:@book, local:true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %>
    <%= f.submit "投稿" %>
<% end %>