// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-bar-prof p {
    font-size: 14px;
    border-top: solid 1px grey;
}

label {
    padding-bottom: 7px;
}

.btn {
    margin-bottom: 10px;
}

