<% if model.errors.any? %>
    <div>
        <ul>
         <h2><%= model.errors.count %> errors prohibited this book from being saved:</h2>
            <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>